.navbar-dark {
  background-color: rgba(106, 156, 98, 0.733);
  position: fixed;
  margin-bottom: 0px;
}

.container h5 {
  border: dotted 1px #5e5a5a;
  font-size: x-large;
  font-weight: 300;
  color: black;
  text-align: center;
  border-radius: 100px;
  padding: 5px;
  margin-left: 30px;
  margin-right: -60px;
  margin-bottom: 50px;
  background-color: rgb(147, 182, 140);
  font-style: initial;
}

.navbar-brand {
  width: 5%;
}
